<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClassListViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A270BB981D2278E50030DB0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A270BBB11D2278E50030DB0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A270BBBC1D2278E50030DB0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
